<div class="row fixed-bottom bg-light">
  <div class="col-3 col-xs-3">
    <a href="/aa" class="btn-block btn btn-dark">
      <i class="fa fa-home"></i></a>
  </div>
  <div class="col-3 col-xs-3">
    <a href="/aa/rlist" class="btn-block btn btn-dark">
      <i class="fa fa-list-alt"></i></a>
  </div>
  <div class="col-3 col-xs-3">
    <a href="/zones" class="btn-block btn btn-dark">
      <i class="fa fa-chart-pie"></i></a>
  </div>
  <div class="col-3 col-xs-3">
    <a href="/aa/stats" class="btn-block btn btn-dark">
      <i class="fa fa-chart-line"></i></a>
  </div>

</div>
<style media="screen">
.col-4{padding: 0!important;}
.btn{border-radius: 0; border-right: 1px solid #fff; background: none; border: 0; padding: 20px;}
.btn:hover{
  background: #ccc;
}

.fa{color: #000; font-size: 1.3em;}
</style>
