{% extends 'base.html' %}

{% block head %}
<link rel="manifest" href="/static/manifest-admin.json">

{% endblock %}
{% block main %}
    {% include 'aa/nav.html' %}
    <div class="container">

      <br>
      <div class="text-center jumbotron">
        <h1 class="display-6 text-center">Requests</h1>
      </div>
      <br><br>

    <div class="row">
      <div id="list" class="col col-xs-12">

      </div>
    </div>

  </div><br><br><br><br>

		<!-- Modal -->
		<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-body" id="address">
				</div>
				<div class="modal-footer">
				<button type="button" class="btn  bg-dark btn-secondary btn-sm" data-dismiss="modal" onclick='$("#address").html("");'>Close</button>
					<button type="button" class="btn bg-dark  btn-dark btn-sm" data-dismiss="modal" onclick="remAddr()">Resolve Address</button>
				</div>
			</div>
		</div>
		</div>

{% endblock %}
{% block script %}

<script
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9LzyU-nj-XdsV2iv0yTf7GVS3qHU_xls">
</script>
<script src="https://www.gstatic.com/firebasejs/5.5.2/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyDz9ODjRuFQpnk9ueCL7Zh95l5TeYNbmw0",
    authDomain: "nammablr-29b72.firebaseapp.com",
    databaseURL: "https://nammablr-29b72.firebaseio.com",
    projectId: "nammablr-29b72",
    storageBucket: "nammablr-29b72.appspot.com",
    messagingSenderId: "778265823179"
  };
  firebase.initializeApp(config);
</script>
<script>
	var entryID = "";
  function getAddr(vlat,vlng, entry){
    var geocoder = new google.maps.Geocoder;
    latlng = { lat: vlat, lng: vlng}
    geocoder.geocode({'location': latlng}, function(results, status) {
       if (status === 'OK') {

         if (results[0]) {
					 $("#address").text(results[0].formatted_address );
					 entryID = entry;
					 // $("#exampleModalCenter").modal();
         }
     }
    });
  }
</script>


<script type="text/javascript">

vstr="";
{% for entry in req %}
vlat = {{req[entry]["lat"]}};
vlng = {{req[entry]["lng"]}};
vstr += `<div class="card">
  <div class="card-header text-center" id="{{entry}}">`+ vlat + ` - ` + vlng +`<br> <b>{{req[entry]["user"]}} </b></div>
  <div class="card-footer" style="background:#eee;">
    <button type="button" data-toggle="modal" data-target="#exampleModalCenter" class="btn-block" style="background:none; border:0;"  onclick="getAddr(`+vlat+`, `+vlng+`, '{{ entry }}')">
      View Address
    </button>
  </div>
</div><br>`;

// setTimeout(getAddr(vlat,vlng,"{{entry}}"), 2000);
{% endfor %}
$("#list").html(vstr);

</script>
<script type="text/javascript">
	function remAddr() {
		firebase.database().ref('requests/' + entryID).remove();
    firebase.database().ref().once("value",function(){
      document.location.reload();
    });
	}
</script>
{% endblock %}
