<div class="row fixed-bottom bg-light">
  <div class="col-4 col-xs-4">
    <a href="/ua" class="btn-block btn btn-dark">
      <i class="fa fa-home"></i></a>
  </div>
  <div class="col-4 col-xs-4">
    <a href="/request_truck" class="btn-block btn btn-dark">
      <i class="fa fa-truck-moving"></i></a>
  </div>
  <div class="col-4 col-xs-4">
    <a href="/ua/profile" class="btn-block btn btn-dark">
      <i class="fa fa-user"></i></a>
  </div>
</div>
<style media="screen">
  .col-4{padding: 0!important;}
  .btn{border-radius: 0; border-right: 1px solid #fff; background: none; border: 0;  padding: 20px; }
  .btn:hover{
    background: #ccc;
  }
  .btn:focus {
  border: none;
  }
  .fa{color: #000; font-size: 1.3em;}
</style>
