<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>BASE</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/static/bs.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    {% block head %}{% endblock %}
  </head>
  <body>
    {% block main %}{% endblock %}


    <script type="text/javascript" src="/static/jq.js"></script>
    <script type="text/javascript" src="/static/bs.js"></script>
    {% block script %}{% endblock %}
  </body>
</html>
